<ul class="favoritehotel_sp_index">
  <% @hotels.each do |hotel| %>
    <li>
      <div><%= hotel.name %></div>
      <div class="memo_display hotel_close"><メモを表示する></div>
      <div class="sp_memo"><%= hotel.memo %></div>
      <div>
        <%= link_to "編集",edit_user_favorite_path(current_user.id,hotel), class: 'btn btn-primary' %>
        <%= link_to "削除",user_favorite_path(current_user.id,hotel), method: :delete, class: 'btn btn-danger',data: { confirm: "消去してもいいですか？" } %>
      </div>
    </li>
  <% end %>
</ul>

