<div class="text-center jumbotron site_title">
  <h1>ホテル情報検索・投稿サイト</h1>
  <% if !logged_in? %>
    <div>
      <%= link_to "ログイン", login_path, class: "btn btn-primary account_btn" %>
      <%= link_to "アカウント作成", new_user_path,class:"btn btn-success account_btn" %>
    </div>
  <% end %>
</div>
<div class="panel panel-default site-layout">
  <div class="site-information">
    <h2>ホテル情報検索・投稿サイトとは？</h2>
    <p id="information-content">旅行サイト（じゃらん）のホテル情報を簡単検索し、感想等コメントを投稿できるサイトです!!</p>
  </div>
  <div class="site-feature">
    <h2>ホテル情報検索・投稿サイトの特徴!!</h2>
    <p class="text-success">図をクリックすると拡大図が表示されます。</p>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3>ホテル情報を簡単検索</h3>
      </div>
      <div class="panel-body feature-content">
      　<p>検索欄に場所を入力すれば、ホテル名、住所、価格、ホームページへのリンクを一覧表示し、最寄りのホテルを検索することができます。</p>
        <div class="image_form">
          <img src="assets/hotel_index.png" width="100%" height="100%" class="hotel_sample" data-toggle="modal" data-target="#picture" data-id="assets/hotel_index.png">
          <img src="assets/hotel_sp_index.png" width="100%" height="100%" class="hotel_sp_sample" data-toggle="modal" data-target="#picture" data-id="assets/hotel_sp_index.png">
        </div>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3>お気に入り登録</h3>
      </div>
      <div class="panel-body feature-content">
        <div class="image_form order1">
          <img src="assets/favorite_index.png" width="100%" height="100%" class="hotel_sample" data-toggle="modal" data-target="#picture" data-id="assets/favorite_index.png">
          <img src="assets/favorite_sp_index.png" width="100%" height="100%" class="hotel_sp_sample" data-toggle="modal" data-target="#picture" data-id="assets/favorite_sp_index.png">
        </div>
        <p class="order2">泊まったホテルの特徴や感想等をメモとして記録しておくことができます。後で、前に泊まったホテルの名前なんだっけ？とならないように泊まった
                        ホテルの特徴をお気に入り一覧として、残しておくことができます。
        </p>
      </div>
    </div>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3>コメント投稿</h3>
      </div>
      <div class="panel-body feature-content">
        <p>泊まったホテルの特徴や感想等のコメントを投稿することができます。各ホテルを利用した人のコメントを自由に閲覧することができ、情報共有を図ること
          ができますので、泊まるホテルを選ぶ際の参考とすることができます。
        </p>
        <div class="image_form">
          <img src="assets/post_index.png" width="100%" height="100%" class="hotel_sample" data-toggle="modal" data-target="#picture" data-id="assets/post_index.png">
          <img src="assets/post_sp_index.png" width="48%" height="100%" class="hotel_sp_sample" data-toggle="modal" data-target="#picture" data-id="assets/post_sp_index.png">
          <img src="assets/user_post_index.png" width="100%" height="100%" class="hotel_sample" data-toggle="modal" data-target="#picture" data-id="assets/user_post_index.png">
          <img src="assets/user_sp_post_index.png" width="48%" height="100%" class="hotel_sp_sample" data-toggle="modal" data-target="#picture" data-id="assets/user_sp_post_index.png">
        </div>
      </div>
    </div>
  </div>
</div>

<%= render :partial => "/hotels/picture" %>
