<ul class="user_post_sp_index">
  <% @posts.each do |post| %>
    <li>
      <div><%= post.name %></div>
      <div>
        <%= link_to "編集",edit_user_post_path(post.user_id,post), class: 'btn btn-primary' %>
        <%= link_to "削除",user_post_path(post.user_id,post), method: :delete, class: 'btn btn-danger',data: { confirm: "コメントを消去してもいいですか？" } %>
      </div>
    </li>
  <% end %>
</ul>

