@import "bootstrap-sprockets";
@import "bootstrap";

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 60px;
}

.jumbotron {
  background-color: $gray-medium-light;
}

img{
  cursor:pointer;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white; 
    text-decoration: none;
  }
}

@media only screen and (max-width:768px) { 
    /*　画面サイズが768pxまではここを読み込む　*/
  #logo{
    font-size: 1.5em;
  }
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}     

h2 {
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: blue;
}

h3{
  text-align:center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}


th{
  height:35px;
  font-size:20px;
}

td{
  height:40px;
  font-size:20px;
}

.center{
  text-align:center;
}


//top

.account{
  font-size:20px;
}

.site_title{
  background-image: url(/assets/hotel_image.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  height:650px;
  h1{
    color:white;
    margin-top:230px;
  }
}

.site-layout{
  background-image: url(/assets/b032.gif);
}

.site-feature{
  width:95%;
  margin:80px auto 0;
}

.site-information{
  margin-top:50px;
}


#information-content{
  padding:20px 10px 20px 10px;
  border-radius:10px;
  font-size:20px;
  text-align:center;
  width:85%;
  margin:auto;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.4);
  background-color:white;
}
  
.feature-content{
  display:flex;
  justify-content: center;
  align-items: center;
  p{
    font-size:20px;
    padding-left:20px;
  }
}

.image_form{
  display:flex;
  flex-direction: column;
  width:200%;
}

.hotel_sample{
  display:block;
  float:left;
  border:1px solid #BAD3FF;
  margin-bottom:10px;
  margin-left:10px;
}

.hotel_sp_sample{
  display:none;
}

//login
.login_check{
  width:8%;
}

.account_btn{
  width:110px;
  padding:10px 0 10px 0;
}


//user
.user_count{
  width:80px;
  margin-bottom:3px;
}

#user_index{
  width:100%;
}
 
.user_pagination{
  margin-top:0;
  padding-top:0;
}


//hotel

#hotel_index,#favoritehotel_index{
  width:100%;
  table-layout: fixed;
  word-break: break-all;
  word-wrap: break-word;
}

.hotelname,.hoteladdress{
  width:20%;
}

.hotelinformation{
  width:11%;
}

.hotelmemo{
  width:60%;
}

.hotelprice,.hotelregister{
  width:8%;
}


.hotelpicture,.hotelmap{
  width:10%;
}

.address_sp{
  display:none;
}

.site_form{
  font-size:25px;
  padding-bottom:10px;
}

.site_name{
  float:right;
}

.order_select{
  display:inline-block;
  p{
    display:inline-block;
    margin-right:10px;
    font-weight:bold;
  }
  .dropdown{
    display:inline-block;
  }
}

.hotel_sp_layout{
  display:none;
}

#hotel_index{
  margin-bottom:30px;
}

//favorite 

.favorite_hotel_comment{
  width:50%;
  position:relative;
}

.favorite_hotel_name{
  width:30%;
}

#hotel_new,#hotel_edit{
  width:100%;
  margin-bottom:20px;
  th:first-child{
    width:15%;
  }
}

.favoritehotel_btn{
  text-align:center;
  margin-top:30px;
}

.continue{
  color:red;
  font-size:15px;
  cursor:pointer;
  text-decoration:underline;
}

.hotel_show_content{
  margin-bottom:30px;
}

.favoritehotel_sp_index,.hotel_show_sp_index,.hotel_edit_sp_index{
  display:none;
}

#favoritehotel_index,#hotel_show,#hotel_edit{
  margin-bottom:30px;
}

.favoritehotel_btn{
  padding-bottom:30px;
}

//search 
.search_layout{
  display:inline-block;
  width:55%;
}

.search_form{
  width:200px;
}

.search_btn{
  width:100px;
}

//post 
.post_layout{
  float:right;
}

.post_state{
  width:100px;
}

.post_partial{
  margin-top:50px;
}

.post_user_name{
  width:25%;
}

.post_user_comment{
  width:50%;
}

.post_name{
  width:30%;
}

.post_comment{
  width:70%;
}

.all_comment{
  list-style-type:none;
}

.comment{
  margin-bottom:10px;
  padding-bottom:5px;
  border-bottom:1px solid #CCCCCC;
  word-break : break-all;
}

.user_post_sp_index,.post_sp_index{
  display:none;
}

#post_index,#post_sp_index{
  margin-bottom:30px;
}

//favorite post new edit
.map{
  float:left;
  width:22%;
  padding:10px 0 10px 10px;
}

.access{
  width:65%;
  height:100%;
  float:left;
  display: flex;
  align-items: center; 
  margin-left:10px;
}

.picture{
  width:33%;
  margin:0 auto;
}

.register_btn{
  width:130px;
}

//post hotel index
.count{
  font-weight:bold;
}

#maxRows,#maxspRows{
  width:100px;
}

.user_post_sp_index,.post_sp_index,.hotel_sp_layout{
  display:none;
}

@media screen and (max-width:768px) { 
    /*　画面サイズが768pxまではここを読み込む　*/
    
  .site_title{
    height:255px;
    h1{
      color:white;
      font-size:25px;
      margin-top:65px;
    }
  }
    
  //top 
  .hotel_sample{
    display:none;
  }

  .hotel_sp_sample{
    display:block;
    border:1px solid #BAD3FF;
    margin-bottom:10px;
    margin-left:10px;
  }
  
  .feature-content{
    display:flex;
    flex-direction: column; 
    align-items:normal;
  }
  
  .order1{
    order:2;
  }
  
  .order2{
    order:1;
  }
  
  .image_form{
    display:flex;
    flex-direction: row;
    width:100%;
    margin-left:-10px;
  }
    
  //hotel

  .hotel_sp_index{
    list-style-type:none;
    li{
      margin-top:25px;
      margin-left:-25px;
      font-size:30px;
      background-color:#DDDDDD;
      padding:5px 0 5px 15px;
      border-radius:30px;
    }
  }
  
  .hotel_sp_layout{
    display:block;
  }
  
  .picture{
    width:300px;
    margin:0 auto;
  }
  
  .address{
    display:none;
  }
  
  .address_sp{
    display:block;
  }
  
  //search
  .search_layout{
     width:100%;
   }
   
  //favorite
  #favoritehotel_index,#hotel_new,#hotel_edit{
    display:none;
  }
  
  .favoritehotel_sp_index,.post_sp_index,.user_post_sp_index{
    list-style-type:none;
    display:block;
    li{
      margin-top:5px;
      margin-left:-25px;
      font-size:25px;
      background-color:#DDDDDD;
      padding:15px 0 15px 15px;
      border-radius:30px;
     }
  }
  
  .hotel_show_sp_index,.hotel_edit_sp_index{
    font-size:30px;
    list-style-type:none;
    text-align:center;
    display:block;
    margin-right:40px;
  } 
  
  .sp_comment{
    padding-bottom:5px;
    border-bottom:1px solid #CCCCCC;
    word-break : break-all;
    li{
      font-size:20px;
    }
  }
  
  //favorite post
  .favoritehotel_sp_index_btn,.user_post_sp_index_btn{
    margin-right:15px;
    float:right;
  }
  
  .favoritehotel_sp_index_name,.user_post_sp_index_name{
    width : calc(100% - 150px) ;
    display:inline-block;
  }
  
  .memo_display,.comment_display{
    color:blue;
    font-size:15px;
  }
  
  .sp_memo,.sp_comment{
    word-wrap: break-word;
  }
  //hotel post
  #hotel_index,#post_index{
    display:none;
  }

}
