@import "bootstrap-sprockets";
@import "bootstrap";


$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


.center{
  text-align:center;
}


/* universal */

body {
  padding-top: 60px;
}

.jumbotron {
 /*
  background-color: rgba(255,165,0,0);
  */
  background-color: $gray-medium-light;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}


th{
  height:35px;
}

td{
  height:40px;
}

//user hotel

.user_count{
  width:80px;
  margin-bottom:3px;
}
#user_index,#hotel_index{
  width:100%;
}

.user_pagination{
  margin-top:0;
  padding-top:0;
}

#hotel_index,#myhotel_index{
  width:100%;
  table-layout: fixed;
  word-break: break-all;
  word-wrap: break-word;
}

.hotelname,.hoteladdress{
  width:20%;
}

.hotelinformation{
  width:25%;
}

.hotelcomment{
  width:60%;
}

.hotelprice{
  width:8%;
}

.hotelregister{
  width:10%;
}
.hotelpicture{
  width:10%;
}

.center{
  text-align:center;
}
.hotelmap{
  width:10%;
}

.hotel_btn,.user_btn{
  text-align:center;
}

#myhotelcomment{
  width:50%;
}

#myhotelname{
  width:30%;
}

#hotel_new{
  width:100%;
}

.myhotel_btn{
  width:30%;
  margin:auto;
  margin-top:30px;
}

#maxRows{
  width:20%;
}

.picture:hover,.map:hover{
  color:blue;
  text-decoration:underline;
}

.site_form{
  font-size:20px;
  float:right;
  padding-bottom:10px;
}

.site_rakuten{
  margin-right:20px;
}

.search_form{
  width:30%;
}

.search_btn{
  width:10%;
}

.picture_map{
  text-align:center;
  margin-top:10px;
}
