<div class="hotel_sp_layout">
 <p>ホテル名をクリックすると詳細が表示されます。</p>
 <ul class="hotel_sp_index mysptable">
    <% @hotels.each do |hotel| %>
      <li>
        <div>
          <% if logged_in? %>
             <%= link_to hotel["Name"] ,new_user_favorite_path(current_user,site: @site, number: hotel["No"]) %>
          <% else %>
             <%= link_to hotel["Name"] ,hotel_path(site: @site,id: hotel["No"]) %>
          <% end %>
        </div>
        <div><%= hotel["Price"] %>円</div>
      </li>
    <% end %>
 </ul>
</div>